In [1]:
import sqlite3

In [3]:
db = sqlite3.connect("ineuron.db")

In [4]:
cursor = db.cursor()

In [5]:
cursor.execute('create table fsds(name text , batchid int , marks real)')

In [11]:
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')
cursor.execute('insert into fsds(name,batchid,marks) values("Vaibhav",1212121,100)')

In [12]:
db.commit()

In [13]:
result = cursor.execute("select * from fsds")
for i in result:
    print(i)

('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)

In [14]:
db.close()

In [15]:
connect=sqlite3.connect("ineuron.db")

In [16]:
cursor=connect.cursor()

In [22]:
result = cursor.execute("select * from fsds where marks > 95")

In [23]:
for i in result:
    print(i)

('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)
('Vaibhav', 1212121, 100.0)

In [25]:
result = cursor.execute("select name,marks from fsds")
for i in result:
    print(i)

('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)

In [26]:
result = cursor.execute("select name,marks from fsds order by marks")
for i in result:
    print(i)

('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)
('Vaibhav', 100.0)

In [27]:
db.close()

In [39]:
db = sqlite3.connect("person.db")

In [40]:
cursor = db.cursor()

In [41]:
cursor.execute('create table person_table(name text,emailid text,age int,salary real)')

In [42]:
cursor.execute('insert into person_table(name,emailid,age,salary) values("Vaibhav","aa.sss@gmail.com",32,344342)')
cursor.execute('insert into person_table(name,emailid,age,salary) values("Sudh","sudh.aaaa@gmail.com",28,2434323)')
cursor.execute('insert into person_table(name,emailid,age,salary) values("Krish","krish.bbbb@gmail.com",30,897998)')
cursor.execute('insert into person_table(name,emailid,age,salary) values("Prashant","prashant.cccc@gmail.com",26,98789879)')

In [43]:
db.commit()

In [44]:
result = cursor.execute("select * from person_table")

In [45]:
for i in result:
    print(i)

('Vaibhav', 'aa.sss@gmail.com', 32, 344342.0)
('Sudh', 'sudh.aaaa@gmail.com', 28, 2434323.0)
('Krish', 'krish.bbbb@gmail.com', 30, 897998.0)
('Prashant', 'prashant.cccc@gmail.com', 26, 98789879.0)

In [46]:
db.close()

In [49]:
db=sqlite3.connect("ineuron.db")

In [50]:
cursor = db.cursor()

In [51]:
cursor.execute("drop table fsds")

In [52]:
cursor.execute("select * from fsds")

OperationalError: no such table: fsds

In [53]:
db.close()

In [54]:
db = sqlite3.connect("person.db")

In [55]:
cursor = db.cursor()

In [64]:
result = cursor.execute("select * from person_table limit 2")

In [65]:
for i in result:
    print(i)

('Vaibhav', 'aa.sss@gmail.com', 32, 344342.0)
('Sudh', 'sudh.aaaa@gmail.com', 28, 2434323.0)

In [66]:
db.close()

In [67]:
db = sqlite3.connect("joindb.db")

In [68]:
cursor = db.cursor()

In [69]:
cursor.execute('create table student(studentId int , studentname text , studentmailid text , marks int)')

In [70]:
cursor.execute('create table Address(studentId int,pincode int,location text,nearby text,phoneno int)')

In [71]:
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (1,"Vaibhav","abc.def@gmail.com",234)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (2,"Amar","pqr.yui@gmail.com",134)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (3,"Prashant","bbb.mmm@gmail.com",634)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (4,"Sudhanshu","abc1.def@gmail.com",734)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (5,"Paul","abc2.def@gmail.com",134)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (6,"Sunny","abc3.def@gmail.com",834)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (7,"Nirav","abc4.def@gmail.com",334)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (8,"Raj","abc5.def@gmail.com",227)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (9,"Sachin","abc6.def@gmail.com",224)')
cursor.execute('insert into student(studentId,studentname,studentmailid,marks) values (10,"Rahul","abc7.def@gmail.com",274)')

In [73]:
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (1,122141,"sdfsd","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (2,345453,"jkkh","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (3,675675,"ghfg","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (4,789789,"fhfg","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (5,677644,"kljk","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (6,565665,"hjkh","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (7,334224,"jhghg","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (8,878876,"jmbjh","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (9,887989,",jhkjk","abcccc",324234)')
cursor.execute('insert into Address(studentId,pincode,location,nearby,phoneno) values (10,97897,"mnjhjk","abcccc",324234)')

In [74]:
result = cursor.execute("select * from student s,address a where s.studentId = a.studentId")

In [75]:
for i in result:
    print(i)

(1, 'Vaibhav', 'abc.def@gmail.com', 234, 1, 122141, 'sdfsd', 'abcccc', 324234)
(1, 'Vaibhav', 'abc.def@gmail.com', 234, 1, 122141, 'solapur', 'abcccc', 324234)
(2, 'Amar', 'pqr.yui@gmail.com', 134, 2, 345453, 'jkkh', 'abcccc', 324234)
(3, 'Prashant', 'bbb.mmm@gmail.com', 634, 3, 675675, 'ghfg', 'abcccc', 324234)
(4, 'Sudhanshu', 'abc1.def@gmail.com', 734, 4, 789789, 'fhfg', 'abcccc', 324234)
(5, 'Paul', 'abc2.def@gmail.com', 134, 5, 677644, 'kljk', 'abcccc', 324234)
(6, 'Sunny', 'abc3.def@gmail.com', 834, 6, 565665, 'hjkh', 'abcccc', 324234)
(7, 'Nirav', 'abc4.def@gmail.com', 334, 7, 334224, 'jhghg', 'abcccc', 324234)
(8, 'Raj', 'abc5.def@gmail.com', 227, 8, 878876, 'jmbjh', 'abcccc', 324234)
(9, 'Sachin', 'abc6.def@gmail.com', 224, 9, 887989, ',jhkjk', 'abcccc', 324234)
(10, 'Rahul', 'abc7.def@gmail.com', 274, 10, 97897, 'mnjhjk', 'abcccc', 324234)